xsd-viewer/xsd/corpcfin/Scriptura_CALCISOC.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- This file is specific to the Calcisoc application. -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified">

	<xs:include schemaLocation="virtualprinter-v2-document_scriptura.xsd"/>
	<xs:include schemaLocation="XML_IN_VirtualPrinter.xsd"/>

	<!-- Simple Type Definitions -->
	<xs:simpleType name="crestraCode">
		<xs:annotation>
			<xs:documentation>CRESTRA code</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="3"/>
			<xs:maxLength value="7"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="nationalNumberType">
		<xs:annotation>
			<xs:documentation>Numéro national ou numéro d'entreprise</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="10"/>
			<xs:pattern value="0[1-9][0-9]{8}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="amountInEuroType">
		<xs:annotation>
			<xs:documentation>Montant en euros</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="-?[0-9]{1,3}(\.[0-9]{3})*,[0-9]{2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="positiveAmountInEuroType">
		<xs:annotation>
			<xs:documentation>Montant en euros</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{1,3}(\.[0-9]{3})*,[0-9]{2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ibanType">
		<xs:annotation>
			<xs:documentation>IBAN (International Bank Account Number)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[a-zA-Z]{2}[0-9]{2}[a-zA-Z0-9]{1,30}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="bicType">
		<xs:annotation>
			<xs:documentation>BIC (Bank Identifier Code)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3}){0,1}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="specificDate">
		<xs:annotation>
			<xs:documentation>Date au format yyyy-MM-dd</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="10"/>
			<xs:maxLength value="10"/>
			<xs:pattern value="(20\d{2})-(0[1-9]|1[0-2])-([0-2]\d|3[0-1])"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="dotsDate">
		<xs:annotation>
			<xs:documentation>Date au format dd.MM.yyyy</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="10"/>
			<xs:maxLength value="10"/>
			<xs:pattern value="([0-2]\d|3[0-1]).(0[1-9]|1[0-2]).(20\d{2})"/>
		</xs:restriction>
	</xs:simpleType>

	<!-- Complex Type Definitions -->
	<xs:complexType name="serviceType">
		<xs:annotation>
			<xs:documentation>Données du service</xs:documentation>
		</xs:annotation>
		<xs:sequence>
            <xs:element name="Admin" type="adminCode" />
            <xs:element name="Code" type="crestraCode" />
            <xs:element name="Lang" type="languageOptional" minOccurs="0" />
            <xs:element name="Division" type="divisionNameOptional" minOccurs="0" />
            <xs:element name="Name1" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Nom du service</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Name2" type="xs:string" minOccurs="0" />
            <xs:element name="Address1" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Adresse du service</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Post">
                <xs:annotation>
                    <xs:documentation>Code postal du service</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="[1-9][0-9]{3}" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="Town" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Commune du service</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Box" type="boxCodeOptional" minOccurs="0" />
            <xs:element name="Phone" type="phone" minOccurs="0" />
            <xs:element name="Email" type="xs:string" minOccurs="0" />
            <xs:element name="RespCode" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CalcisocLineType">
		<xs:annotation>
			<xs:documentation>Ligne normale</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="RecordId" type="xs:string"/>
			<xs:element name="RecordData">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Style">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="LB">
										<xs:annotation>
											<xs:documentation>Ligne blanche</xs:documentation>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="LN">
										<xs:annotation>
											<xs:documentation>Arial 9 - ligne normale</xs:documentation>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="LN">
										<xs:annotation>
											<xs:documentation>Arial 9 - ligne normale avec décalage gauche
											</xs:documentation>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="LR">
										<xs:annotation>
											<xs:documentation>Arial 9 bold - Ligne de résultat</xs:documentation>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="LS">
										<xs:annotation>
											<xs:documentation>Arial 9 Italic - sous-titre</xs:documentation>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="LT">
										<xs:annotation>
											<xs:documentation>Arial 10 bold underlined - titre - merge des cellules
											</xs:documentation>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="LU">
										<xs:annotation>
											<xs:documentation>Ligne horizontale dans les zones contenant un "U"
											</xs:documentation>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="LUG">
										<xs:annotation>
											<xs:documentation>Ligne horizontale dans les zones contenant un "U" avec
												décalage gauche
											</xs:documentation>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="LL">
										<xs:annotation>
											<xs:documentation>Ligne horizontale sur toute la largeur</xs:documentation>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="LE">
										<xs:annotation>
											<xs:documentation>Arial 9 – ligne normale sur toute la largeur
											</xs:documentation>
										</xs:annotation>
									</xs:enumeration>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="Label" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="BaseAmount" type="xs:string" minOccurs="0"/>
			<xs:element name="Operation" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="1"/>
						<xs:enumeration value="x"/>
						<xs:enumeration value="÷"/>
						<xs:enumeration value="="/>
						<xs:enumeration value="-"/>
						<xs:enumeration value="+"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Rate" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="([0-9]{1,3}),([0-9]{2})"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Percentage" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="%"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Equal" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="1"/>
						<xs:enumeration value="="/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Amount" type="xs:string" minOccurs="0"/>
			<xs:element name="Sign" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="1"/>
						<xs:enumeration value="-"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Code" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="\([0-9]{3}\)"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<!-- Root Elements Definitions -->

	<!-- Specific for Calcisoc -->
	<xs:element name="Specific">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Calc" type="serviceType">
					<xs:annotation>
						<xs:documentation>Service ayant établi la taxation (colonne 1)</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="Complain" type="serviceType">
					<xs:annotation>
						<xs:documentation>Service où introduire une réclamation (colonne 3)</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="BelastingType" type="xs:string"/>
				<xs:element name="CalcVersion" type="xs:string"/>
				<xs:element name="Type">
					<xs:annotation>
						<xs:documentation>1:A payer, 2: A rembourser, 3: Solde nul</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:integer">
							<xs:minInclusive value="1"/>
							<xs:maxInclusive value="3"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="NE" type="nationalNumberType">
					<xs:annotation>
						<xs:documentation>Numéro national du destinataire</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="NEDossier" type="nationalNumberType">
					<xs:annotation>
						<xs:documentation>Numéro national du dossier dans lequel l'AER doit être archivé.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="Artikel">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="9"/>
							<xs:maxLength value="9"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="AanslJaar">
					<xs:simpleType>
						<xs:restriction base="xs:int">
							<xs:totalDigits value="4"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="Bilan" type="specificDate"/>
				<xs:element name="Town" type="xs:string"/>
				<xs:element name="DatExec" type="specificDate"/>
				<xs:element name="DatVerz" type="specificDate"/>
				<xs:element name="PrimArt" type="xs:string" minOccurs="0"/>
				<xs:choice minOccurs="0">
					<xs:sequence>
						<xs:annotation>
							<xs:documentation>Résultat : à payer</xs:documentation>
						</xs:annotation>
						<xs:element name="LimDat" type="specificDate"/>
						<xs:element name="NalIntr" type="specificDate"/>
					</xs:sequence>
					<xs:sequence>
						<xs:annotation>
							<xs:documentation>Solde nul</xs:documentation>
						</xs:annotation>
						<xs:element name="Solde" type="amountInEuroType"/>
						<xs:element name="SoldeComment" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Commentaire pour non à payer ou non rembourser</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string"/>
							</xs:simpleType>
						</xs:element>
					</xs:sequence>
				</xs:choice>
				<xs:element name="SplitOpsl" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Texte fusion/absorption composé par Calcisoc</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="ExitTaxStarLink" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Lien pour impôt à la sortie (optionnel). composé par Calcisoc
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="ExitTaxString" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Texte pour impôt à la sortie (optionel). composé par Calcisoc
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="IntNstd" type="xs:boolean" minOccurs="0"/>
				<xs:element name="Payment" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Données pour créer une formule de virement</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:all>
							<xs:element name="Amount" type="positiveAmountInEuroType">
								<xs:annotation>
									<xs:documentation>Montant à payer</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="IBAN" type="ibanType">
								<xs:annotation>
									<xs:documentation>Numéro de compte international pour le versement de l'impôt
									</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="Bic" type="bicType">
								<xs:annotation>
									<xs:documentation>BIC du compte</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="Structured" type="structuredCommunication">
								<xs:annotation>
									<xs:documentation>Communication structurée</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="Date" type="specificDate">
								<xs:annotation>
									<xs:documentation>Date approximative de remboursement (ex. "mars 2013")
									</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:all>
					</xs:complexType>
				</xs:element>
				<xs:element name="Payback">
					<xs:complexType>
						<xs:all>
							<xs:annotation>
								<xs:documentation>Données pour un remboursement</xs:documentation>
							</xs:annotation>
							<xs:element name="Amount" type="positiveAmountInEuroType">
								<xs:annotation>
									<xs:documentation>Montant du remboursement</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="IBAN" type="ibanType">
								<xs:annotation>
									<xs:documentation>Numéro de compte international pour le versement de l'impôt
									</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="Datemmyy" type="xs:string">
								<xs:annotation>
									<xs:documentation>Date approximative de remboursement (ex. "mars 2013")
									</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="Dateddmmyy" type="dotsDate">
								<xs:annotation>
									<xs:documentation>Le dernier jour (calendrier) du deuxième mois qui suit la date
										d'envoi (Ex: 28.02.2021)
									</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:all>
					</xs:complexType>
				</xs:element>
				<xs:element name="Block" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="CalcisocLine" type="CalcisocLineType" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Tribunal" type="xs:string">
					<xs:annotation>
						<xs:documentation>Nom du tribunal, ex: Tribunal de première instance du Luxembourg - division Marche-en-Famenne
						</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<!-- VirtualPrinterBatch for Calcisoc to send to Biztax -->
	<xs:element name="VirtualPrinterBatch">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="DocumentScriptura" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<!-- Xml for direct call to ScripturaWS -->
	<xs:element name="xml">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="DocumentContent" id="content" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>